
<div class= "main_page_container">

	<div class= "title centered">
		<img src="/pics/enterploy_logo_v3.png" alt="enterploy" height = "150" width = "450" >
		<br>
		<h3>Turning the Power Around</h3>
	</div>

	<div class="intro-video">
				<!--Change wideo width and height here-->
				<div id="wideo-embed-block" 
					wideo-width="768" 
					wideo-height="432"
					wideo-id="3960551403286818546"
					autoplay="false">
				</div>
				<script type="text/javascript">(function(){var x=document.createElement('script'), s=document.getElementsByTagName('script')[0];x.async=true;x.src='http://static.wideo.co/js/embed/wideoembed.js';s.parentNode.insertBefore(x,s)})();</script>
	</div>

	<div class= "centered">
		<h3>Log in or Sign up at the top right</h3>
	</div>

</div>