<% current_user ||= User.find(session[:user_id]) if session[:user_id] %>
<% @profile_picture = current_user.profile_pictures %>

    <% @profile_picture.each do |profile_picture| %>
	<div>
    	<%= image_tag profile_picture.asset.url(:thumb) %>
	</div>
    <% end %>