<h1>Companies Applied For</h1>

<% @user_apps.each do |a| %>
	<% app = a.app %>
	
<div class= "well">
	<div>
		<!-- link to profile page of the company.  find out how to use the app_id from users_app to find the user in the users table, then link to the profile page through the company name. -->

	</div>

	<div>
		<strong><%= app.company_name %></strong> <br>

		<% if a.pending? %>
			<em>Pending</em> <%= link_to 'Delete request', users_path %>
		<% end %>
		<% if a.requested? %>
			<em>New Application</em> <%= link_to 'Accept request', users_path %>
		<% end %>
		<% if a.accepted? %>
			<em>Hiring Process Started</em> <%= link_to 'Update ', users_path %>
		<% end %>

	</div>

</div>

<% end %>