<h1>Jobs you can Apply for</h1>
<% @job_listings = JobListing.all %>
<% @job_listings.each do |job_listing| %>
  
    <div class="job_post">
    	<%= job_listing.company_name %>
    	<br>
    	<%= job_listing.location %>
    	<br><br><br>
    	<div class="more_information">
    		<%= link_to 'more information', job_listing_path(job_listing) %>
    	</div>
    </div>
  
<% end %>
