// Place all the styles related to the company_profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.general_information {
	background-image: linear-gradient(to bottom, #40CCFF 0%, #246EEF 100%);
	background-color: #40CCFF;
	padding: 10px;
	color: #FFFFFF;
}
.general_information a{
	color: #FFFFFF;
	
}