// Place all the styles related to the job_listings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.job_post{
	width: 300px;
	padding: 20px;
	margin: 5px;
	background-color: #CCCCCC;
	height: auto;
	border-radius: 10px;
	display: inline-block;
}

.more_information a{
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 25px;
	display: inline-block;
	background-color: #66CCFF;
	width: 100%;
	text-align: center;
}
